<!DOCTYPE html>

<html>
    <head>
        <title>Travel in Sweden</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Travel in Sweden</a></h1>
        </header>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">When and where to see the magical Northern Lights in Sweden</a></h2>
            <p>To see the beauty of the Northern Lights, head to northern Sweden between early September and late March. This winter, the Aurora Borealis will be mighty as we enter the solar cycle's peak.

                Below are five tips for increasing your chances to see the Northern Lights and some of the best places in Sweden to watch them.</p>
        </article>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">Porjus</a></h2>
            <img src="https://visitsweden.com/_next/image/?url=https%3A%2F%2Fs3-eu-north-1.amazonaws.com%3A443%2Fpy3.visitsweden.com%2Foriginal_images%2FSapmiNatureCamp-2-CMSTemplate_Pjeu3Ld.jpg&w=1024&q=70" height="500"/>
            <p>Another tiny northern village, Porjus, with merely 400 inhabitants, is a coveted spot for viewing the Northern Lights in Sweden. 60 kilometres north of the Arctic Circle, Porjus lies in the UNESCO World Heritage Site Laponia on the edge of a beautiful lake. Away from the city lights, in the stillness of nature, you can rent a cabin and enjoy the dancing light show from your front porch with a warm glass of mulled wine</p>
        </article>
    </body>
</html>